<div id="listinstances">

	<p>This is the CloudWatchGraphController route, for testing purposes:</p>


<div class="container">
	<h2>List Instances</h2>

	<div>
		<select ng-model="listinstances.selectedregion" ng-options="option.RegionName for option in listinstances.regions.Regions" name="dropdown"></select>
		<button id="listInstancesNewRegion" class="btn btn-default" ng-click="listinstances.selectRegion()">Apply New Region</button>
	</div>


	<div ng-repeat="reservations in listinstances.listinstances">
		<div>
			<div class="panel well col-md-4" 
			ng-class="{ 'running':'panel-success', 'stopped':'panel-danger', 'pending': 'panel-warning', 'shutting-down': 'panel-warning', 'terminated': 'panel-warning', 'stopping': 'panel-warning'}[reservation.Instances[0].State.Name]"
			ng-repeat="(key, reservation) in reservations">
				<div class="panel-heading" >
					<h3 ng-repeat="tag in reservation.Instances[0].Tags" ng-show="tag.Key == 'Name'"><span class="glyphicon" ng-class="{ 'running':'glyphicon-floppy-saved', 'stopped':'glyphicon-floppy-remove', 'pending': 'glyphicon-floppy-save', 'shutting-down': 'glyphicon-floppy-save', 'terminated': 'glyphicon-floppy-remove', 'stopping': 'glyphicon-floppy-save'}[reservation.Instances[0].State.Name]"
					data-toggle="tooltip" title="{{reservation.Instances[0].State.Name}}" ></span> {{tag.Value}}</h3>
					<h4 ">{{reservation.Instances[0].InstanceId}}</h4>
				</div>
				<div class="panel-body">
					<h5>{{reservation.ReservationId}}, owned by {{reservation.OwnerId}}</h5>

					<ul>
						<li>ImageId: {{reservation.Instances[0].ImageId}}</li>
						<li>InstanceType: {{reservation.Instances[0].InstanceType}}</li>
						<li>Keypair Used: {{reservation.Instances[0].KeyName}}</li>
						<li>Private IP: {{reservation.Instances[0].PrivateIpAddress}}
						<a href="http://{{reservation.Instances[0].PrivateDnsName}}"><span class="glyphicon glyphicon-new-window"></span></a>
						</li>
						<li class="" ng-class="{ 'string' : 'text-primary bg-success', 'undefined' : 'text-muted bg-danger'}[listinstances.functionType(reservation.Instances[0].PublicIpAddress)]">Public IP: {{reservation.Instances[0].PublicIpAddress}}
						<a href="http://{{reservation.Instances[0].PublicDnsName}}"><span class="glyphicon glyphicon-new-window"></span></a>
						</li>
						<li>SubnetId: {{reservation.Instances[0].SubnetId}}</li>
						<li>AZ: <em>{{reservation.Instances[0].Placement.AvailabilityZone}}</em></li>
						<li>VpcId: {{reservation.Instances[0].VpcId}}</li>
					</ul>
<!-- 						
						<ul ng-repeat="(key, instance) in reservation.Instances[0]">
							<li class="item">{{key}} : {{instance}}</li>
						</ul> 
-->
				</div>

				<div class="panel-footer">
					<div class="tags">
						<span class="glyphicon glyphicon-tags"></span>
						<span ng-repeat="tag in reservation.Instances[0].Tags">{{tag.Key}}:{{tag.Value}},</span>
					</div>
				</div>


			</div>
		</div>
	</div>

<!--
 	<div>Result Query: <pre>{{listinstances.result}}</pre></div> 
-->

</div>
	
</div>