<div id="listeb">

	<p>This is the listebs route, for testing purposes:</p>


<div class="container">
	<h2>List Instances</h2>



	<div ng-repeat="reservations in listeb.listebs">
		<div>
			<a ng-href="/#/listebs">
				<p class="btn btn-default glyphicon glyphicon-hand-left"> Back to All Region</p>
			</a>
			<div></div>
			<div class="panel well col-md-4" 
			ng-class="{ 'running':'panel-success', 'stopped':'panel-danger', 'pending': 'panel-warning', 'shutting-down': 'panel-warning', 'terminated': 'panel-warning', 'stopping': 'panel-warning'}[reservation.Instances[0].State.Name]"
			ng-repeat="(key, reservation) in reservations">
				<div class="panel-heading" >
					<h3 ng-repeat="tag in reservation.Instances[0].Tags" ng-show="tag.Key == 'Name'"><span class="glyphicon" ng-class="{ 'running':'glyphicon-floppy-saved', 'stopped':'glyphicon-floppy-remove', 'pending': 'glyphicon-floppy-open', 'shutting-down': 'glyphicon-floppy-save', 'terminated': 'glyphicon-floppy-remove', 'stopping': 'glyphicon-floppy-save'}[reservation.Instances[0].State.Name]"
					data-toggle="tooltip" title="{{reservation.Instances[0].State.Name}}" ></span> {{tag.Value}}</h3>
					<h4 ">{{reservation.Instances[0].InstanceId}}</h4>
				</div>
				<div class="panel-body">
					<h5>{{reservation.ReservationId}}, owned by {{reservation.OwnerId}}</h5>

					<ul>
						<li>ImageId: {{reservation.Instances[0].ImageId}}</li>
						<li>InstanceType: {{reservation.Instances[0].InstanceType}}</li>
						<li>Keypair Used: {{reservation.Instances[0].KeyName}}</li>
						<li>Private IP: {{reservation.Instances[0].PrivateIpAddress}}
						<a href="http://{{reservation.Instances[0].PrivateDnsName}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
						</li>
						<li class="" ng-class="{ 'string' : 'text-primary bg-success', 'undefined' : 'text-muted bg-danger'}[listebs.functionType(reservation.Instances[0].PublicIpAddress)]">Public IP: {{reservation.Instances[0].PublicIpAddress}}
						<a href="http://{{reservation.Instances[0].PublicDnsName}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
						</li>
						<li>SubnetId: {{reservation.Instances[0].SubnetId}}</li>
						<li>AZ: <em>{{reservation.Instances[0].Placement.AvailabilityZone}}</em></li>
						<li>VpcId: {{reservation.Instances[0].VpcId}}</li>
					</ul>
<!-- 						
						<ul ng-repeat="(key, instance) in reservation.Instances[0]">
							<li class="item">{{key}} : {{instance}}</li>
						</ul> 
-->
				</div>

				<div class="panel-footer row clearfix">
					<div class="tags span12">
						<span class="glyphicon glyphicon-tags"></span>
						<span ng-repeat="tag in reservation.Instances[0].Tags">{{tag.Key}}:{{tag.Value}},</span>
					</div>
					<div class="pull-right span12">
						<button class="glyphicon glyphicon-play lead btn btn-primary btn-sm" ng-click="listeb.startInstanceWithID(reservation.Instances[0].InstanceId)"></button>
						<button class="glyphicon glyphicon-stop lead btn btn-primary btn-sm " ng-click="listeb.stopInstanceWithID(reservation.Instances[0].InstanceId)"></button>
					</div>
				</div>


			</div>
		</div>
	</div>

<!--
 	<div>Result Query: <pre>{{listebs.result}}</pre></div> 
-->

</div>
	
</div>