<div id="upload">

	<p>Hi! This is the Upload Page!</p>
	
	<div class="container">

	    <form id="uploadForm" method="get" accept-charset="utf-8" ng-submit="upload.populate()">
	    	<div class="formPart">
	    		    <label for="fileLabel">File Name:</label>
	    		    <input type="text" ng-model="upload.newItem.fileName"/>
	    		    <label for="fileDescription">File Description:</label>
	    		    <input type="text" ng-model="upload.newItem.fileDescription"/>
	    		    
	    		    <label for="fileDate">File Date (yyyy/mm/dd):</label>
	    		    <input type="text" ng-model="upload.newItem.fileDate"/>
	    			<label for="filetype">File Type:</label>
	    			<div class="radio">
	    				<ul class="radio">
	    					<li class="radio-item1"><input type="radio" name="fileType" ng-model="upload.newItem.fileType" value="ebextension" >ebextension</li>
	    					<li class="radio-item2"><input type="radio" name="filetype" ng-model="upload.newItem.fileType" value="script">script</li>
	    					<li class="radio-item3"><input type="radio" name="filetype" ng-model="upload.newItem.fileType" value="package">package</li>
	    				</ul>
	    			</div>
	    	</div>
	    	<div class="formPart">
	    		<label for="fileTags">Tags (comma separated):</label>
	    		<input type="text" ng-model="upload.newItem.fileTags" />
	    		<label for="file-chooser">File To Upload:</label>
	    		<input type="file" id="file-chooser"/> 

	    		<div id="dropzone" class="dropzone">Drop Files Here</div>

	    		<button id="upload-button" class="btn btn-default">Upload New Item</button>
	    		<button id="print-button" class="btn btn-default">Print Item to Upload</button>
	    	</div>
	    </form>
	    <div id="results">
	    	
	    </div>
	</div>	
		
</div>